<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Your basic web app structure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1 class="title">Welcome to your basic web app structure</h1>
        <p>
            Checkout the files to see how it is organized.
        </p>
        <p>
            Here is an example url
        </p>
        <a href="/comments/10">Comment with id 10</a>
    </body>
</html>
